[submodule "testdata/rebar"]
	path = testdata/rebar
	url = https://github.com/BurntSushi/rebar.git
[submodule "testdata/regex-crate"]
	path = testdata/regex-crate
	url = https://github.com/rust-lang/regex.git
